openapi: 3.0.3
info:
  title: API online school (Course service)
  version: '1.0'
  license: 
      name: MIT
      url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.online.school/v1/course

components:
  schemas:
    courseRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        description:
          type: string

    courseResponse:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string

    lessonRequest:
      type: object
      required:
        - courseId
        - title
      properties:
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        content:
          type: string

    lessonResponse:
      type: object
      required:
        - id
        - courseId
        - title
      properties:
        id:
          type: string
        courseId:
          type: string
        title:
          type: string
        description:
          type: string
        content:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

tags:
  - name: course
    description: Курсы
  - name: lesson
    description: Уроки

paths:
  /courses:
    get:
      summary: Список всех курсов
      tags:
        - course
      operationId: getCourses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/courseResponse'
        '404':
          description: Нет материалов
    post:
      summary: Создать новый курс
      tags:
        - course
      operationId: postCourse
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/courseRequest'
      responses:
        '201':
          description: Курс создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/courseResponse'
        '403':
          description: Доступ запрещен
    

  /{courseId}:
    get:
      summary: Получить информацию о курсе
      tags:
        - course
      operationId: getCourse
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация о курсе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/courseResponse'
        '404':
          description: Курс не найден
    delete:
      summary: Удалить курс
      tags:
        - course
      operationId: deleteCourse
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Курс успешно удалён
        '403':
          description: Нет прав на удаление курса
        '404':
          description: Курс не найден
  /lessons:
    get:
      summary: Список всех уроков
      tags:
        - lesson
      operationId: getLessons
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Список получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/lessonResponse'
        '404':
          description: Нет материалов
    post:
      summary: Создать новый урок
      tags:
        - lesson
      operationId: postLessons
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lessonRequest'
      responses:
        '201':
          description: Урок создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lessonResponse'
        '403':
          description: Доступ запрещен


  /{courseId}/{lessonId}:
    get:
      summary: Получить информацию об уроке
      tags:
        - lesson
      operationId: getLesson
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema:
            type: string
        - in: path
          name: lessonId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация об уроке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lessonResponse'
        '404':
          description: Урок не найден

    delete:
      summary: Удалить урок
      tags:
        - lesson
      operationId: deleteLesson
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: courseId
          required: true
          schema:
            type: string
        - in: path
          name: lessonId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Урок успешно удалён
        '403':
          description: Нет прав на удаление урока
        '404':
          description: Урок не найден
